$oPositiv-font: "Bookmania", "Times New Roman", serif;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 1em;
  margin: 0;
  background-color: rgb(241, 240, 240);
}
p {
  margin: 0;
}
