@import "_variables.scss";

.cart-button-container {
  margin: auto;
  width: 95%;
  text-align: center;

  .cart-button {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 1em auto 0;
    padding: 1em 0;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    border-color: transparent;
    border-radius: 50px;
    cursor: pointer;
    color: rgb(253, 253, 253);
    background-color: #5c72b6;
  }

  img {
    max-width: 6.5em;
    height: auto;
    position: relative;
    top: 0.2em;
  }
  .afterPayText {
    padding: 0.8em 0 0;
    // padding-bottom: 1em;
    text-align: center;
    line-height: 1em;
  }
  strike {
    opacity: 0.7;
  }
}
//   button {
//     appearance: auto;
//     writing-mode: horizontal-tb !important;
//     text-rendering: auto;
//     letter-spacing: normal;
//     word-spacing: normal;
//     line-height: normal;
//     text-transform: none;
//     text-indent: 0px;
//     text-shadow: none;
//     display: inline-block;
//     text-align: center;
//     align-items: flex-start;
//     cursor: default;
//     box-sizing: border-box;
//     margin: 0em;
//     padding: 1px 6px;
//     border-width: 2px;
//     border-style: outset;
//     border-image: initial;
// }
