@import '_variables.scss';



.cart-button {
  width: 90%;
  margin: 15px auto 0;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  border-color: transparent;
  border-radius: 50px;
  cursor: pointer;
  color: rgb(253, 253, 253);
  background-color: rgb(41, 11, 149)
  }

//   button {
//     appearance: auto;
//     writing-mode: horizontal-tb !important;
//     text-rendering: auto;
//     letter-spacing: normal;
//     word-spacing: normal;
//     line-height: normal;
//     text-transform: none;
//     text-indent: 0px;
//     text-shadow: none;
//     display: inline-block;
//     text-align: center;
//     align-items: flex-start;
//     cursor: default;
//     box-sizing: border-box;
//     margin: 0em;
//     padding: 1px 6px;
//     border-width: 2px;
//     border-style: outset;
//     border-image: initial;
// }